* {
   margin: 0;
   padding: 0;
   font-family: 'Raleway', sans-serif;
}

:root {
   --nunito-font: 'Nunito Sans', sans-serif;
   --montserrat-font: 'Montserrat', sans-serif;
   --green-color: #217443;
   --whitesmoke-color: #f1f1f1;
   --grey-color: #c1c1c1;
   --dark-color: #1a1a1a;
   --light-color: #fff;
   --transition: all 300ms ease-in-out;
   --gradient: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

body {
   font-family: sans-serif, Helvetica;
   scroll-behavior: smooth;
   height: 100vh;
   position: relative;
}

.logo {
   width: 135px;
   padding-right: 30px;
}

.main {
   position: relative;
   height: 100vh;
   width: 100%;
}

.main .slider {
   position: relative;
   height: 100vh;
   width: 100%;
}

.main .slider .slides {
   position: absolute;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   opacity: 0;
   transition: 0.3s ease-in-out;
   color: #fff;
}

.main .slider .slides.current {
   z-index: 1;
   opacity: 1;
}

.main .slider .slides:nth-child(1) {
   background: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, 0)), url('./sustainable-development-goals-still-life.jpg');
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
}

.main .slider .slides:nth-child(2) {
   background: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, 0)), url('./WhatsApp\ Image\ 2023-09-10\ at\ 12.04.30.jpg');
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
}

.main .slider .slides:nth-child(3) {
   background: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, 0)), url('./WhatsApp\ Image\ 2023-09-10\ at\ 12.04.39.jpg');
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
}

.main .slider .slides:nth-child(4) {
   background: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, 0)), url('./WhatsApp\ Image\ 2023-09-10\ at\ 12.04.40.jpg');
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
}

.main .prev {
   position: fixed;
   color: #fff;
   top: 50%;
   left: 5%;
   transform: translateY(-50%);
   z-index: 99;
   font-size: 1.5em;
   font-weight: 600;
   border: 2px solid #fff;
   padding: 4px 9px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   transition: 0.2s ease-in-out;
   cursor: pointer;
   box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.9);
}

.main .next {
   position: fixed;
   color: #fff;
   top: 50%;
   right: 5%;
   transform: translateY(-50%);
   z-index: 99;
   font-size: 1.5em;
   font-weight: 600;
   border: 2px solid #fff;
   padding: 4px 9px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   transition: 0.2s ease-in-out;
   cursor: pointer;
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.main .prev:hover,
.main .next:hover {
   background: #16a085;
   border-color: #16a085;
}

.main a {
   position: fixed;
   color: #fff;
   bottom: 15%;
   left: 50%;
   transform: translateX(-50%);
   z-index: 99;
   font-size: 1em;
   font-weight: 500;
   border: 1px solid #16a;
   padding: 10px 17px;
   line-height: 1.2em;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 2px;
   transition: 0.2s ease-in-out;
   cursor: pointer;
   text-decoration: none;
   background: #16a;
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.main a:hover {
   background: #017fb5;
}

.main .slider .slides:nth-child(1) h1 {
   color: white;
   text-align: center;
   align-items: center;
}

h2 {
   font-size: 35px;
   align-items: center;

}

.main .slider .slides:nth-child(2) h3 {
   font-size: 30px;
   width: 70%;
   text-align: center;
   padding-top: 90px;
   color: black;
}

.main .slider .slides:nth-child(3) h3 {
   line-height: 1.5;
   padding-bottom: 80px;
   color: black;
   text-align: center;
   font-size: 30px;
   width: 70%;
}

.sub {
   color: var(--whitesmoke-color);
   background-color: var(--green-color);
   text-decoration: none;
   padding: 2px 13px;
   border-radius: 25px;
   font-size: 18px;
   border: transparent solid 2px;
   transition: .4s;
   cursor: pointer;
   outline: none;
}

.sub:hover {
   background-color: var(--whitesmoke-color);
   color: var(--green-color);
}